/* ==================== MAIN ==================== */

:root {
	font-size: 20px;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;
}

/* ==================== DISPLAY ==================== */

#match-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.day-box {
	background-color: lightgrey;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 40px 10px;
	height: 100px;
	width: 100px;
	margin: 10px;
}

.day-text {
	text-align: center;

	transform: rotate(-45deg);
}

.red {
	background-color: #faa;
}

.blue {
	background-color: #aaf;
}

.green {
	background-color: #afa;

	transform: scale(1.2);
}

/* ==================== MESSAGE ==================== */

#match-message-box {
	text-align: center;

	width: auto;
}

/* ==================== FORM ==================== */

#match-input {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
}


#match-input form {
	display: flex;
	justify-content: space-evenly;

	width: 100%;
}

#match-input form label {
	background-color: lightgrey;

	border-radius: 10px;
	padding: 10px;
}

/* ==================== ANIMATIONS ==================== */

/* ==================== RESPONSIVENESS ==================== */

/* ==================== LAYOUT GUIDES ==================== */

/*
* {
	outline: 1px solid black;
}

.main-container {
	outline: 1px solid magenta;
}