/* ==================== SOURCES ==================== */

@font-face {
	font-family: 'Tropical';
	src: url('../assets/fonts/TropicalTasteDemo-nRy60.otf');
}

/* ==================== MAIN ==================== */

:root {
	--dark-bg: #000;
	--dark-ol: #000;
	--dark-tx: #000;
	--light-bg: #fff8;
	--light-ol: #fff;
	--light-tx: #fff;

	font-size: 20px;
	font-family: sans-serif;
}

body {
	background-image: url('../assets/images/tropical.png');
	background-size: cover;
	background-position: right;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;
}

header {
	font-family: 'Tropical';
	font-size: 2rem;

	margin-bottom: 40px;
}

header h1 {
	letter-spacing: 4px;
}

/* ==================== DISPLAY ==================== */

#match-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.day-box {
	background-color: var(--light-bg);
	color: var(--dark-tx);
	border: 2px solid var(--dark-ol);

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 40px 10px;
	height: 100px;
	width: 100px;
	margin: 5px;
}

.day-text {
	text-align: center;

	transform: rotate(-45deg);
}

.red {
	background-color: #faa;
}

.blue {
	background-color: #aaf;
}

.green {
	background-color: #afa !important;

	transform: scale(1.2);
	margin: 20px;
}

/* ==================== MESSAGE ==================== */

#match-message-box {
	text-align: center;

	background-color: var(--dark-bg);
	color: var(--light-tx);
	border: 2px solid var(--dark-ol);

	width: auto;
	border-radius: 20px 10px;
	padding: 10px;
	margin: 40px 0;
}

.hidden {
	opacity: 0;
}

.green-text {
	color: #8f8 !important;
}

.grey-text {
	color: #f88 !important;
}

/* ==================== FORM ==================== */

#match-input {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
}


#match-input form {
	display: flex;
	justify-content: space-evenly;

	width: 100%;
}

#match-input form label {
	background-color: var(--dark-bg);
	color: var(--light-tx);
	border: 2px solid var(--light-ol);

	border-radius: 20px 15px 30px 20px;
	padding: 10px 10px 10px 15px;
}

#match-input form label input {
	color: var(--dark-tx);

	border-radius: 20px 10px;
	padding: 5px;
}

/* ==================== ANIMATIONS ==================== */

/* ==================== RESPONSIVENESS ==================== */

/* ==================== LAYOUT GUIDES ==================== */

/*
* {
	outline: 1px solid black;
}

.main-container {
	outline: 1px solid magenta;
}