/* ==================== SOURCES ==================== */

@font-face {
	font-family: 'Tropical';
	src: url('../assets/fonts/TropicalTasteDemo-nRy60.otf');
}

@font-face {
	font-family: 'Ziclose';
	src: url('../assets/fonts/Ziclose-VGdzz.ttf');
}

/* ==================== MAIN ==================== */

:root {
	--dark-bg: #000;
	--dark-ol: #000;
	--dark-tx: #000;
	--light-bg: #fff4;
	--light-ol: #fff;
	--light-tx: #fff;

	font-size: 20px;
	font-family: sans-serif;
}

body {
	background-image: url('../assets/images/tropical.png');
	background-size: cover;
	background-position: right;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;
	position: relative;
	bottom: 50px;
}

header {
	font-family: 'Tropical';
	font-size: 2rem;
}

header h1 {
	letter-spacing: 4px;
}

/* ==================== DISPLAY ==================== */

#match-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	height: 200px;
	width: 100%;
}

.day-box {
	color: var(--dark-tx);
	border: 2px solid var(--dark-ol);

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 40px 0px;
	height: 150px;
	width: 100px;
	margin: 5px;

	transform: rotate(25deg);
}

.day-box:first-of-type {
	border-radius: 40px 0px 40px 40px;
}

.day-box:last-of-type {
	border-radius: 40px 40px 40px 0px;
}

.red {
	background-color: #f004;
	box-shadow: inset 0px 0px 40px #f00;
}

.blue {
	background-color: #00f2;
	box-shadow: inset 0px 0px 40px #00f;
}

.green {
	background-color: #0f08;
	background-image: linear-gradient(110deg, #0f0f, #0f0f, #0f04, #0f02, #0f02, #0f02, #0f02, #0f02);
	box-shadow: inset 0px 0px 40px #0f0;

	height: 160px;
	width: 120px;
	transform: scale(1) rotate(-5deg);
}

.transparent {
	background-image: linear-gradient(65deg, #fff, #fff, #fff8, #fff4, #fff2, #fff4, #ffff, #fff);
	box-shadow: inset 0px 0px 40px #fff;
}

.day-text {
	font-family: 'Ziclose';
	text-align: center;

	transform: rotate(-45deg);
}

.green .day-text {
	font-size: 1.1rem;

	transform: rotate(-25deg);
}

/* ==================== MESSAGE ==================== */

#match-message-box {
	text-align: center;

	background-color: var(--dark-bg);
	color: var(--light-tx);
	border: 2px solid var(--dark-ol);

	width: auto;
	border-radius: 20px 0px;
	padding: 10px 15px;
	margin: 40px 0;
}

.green-text {
	color: #8f8 !important;
}

.red-text {
	color: #f88 !important;
}

.white-text {
	color: #fff !important;
}

#match-tip {
	font-size: 0.8rem;

	position: fixed;
	bottom: 10px;
}

#match-tip span span {
	border: 2px solid #000;
	padding: 0px 7px;
	border-radius: 50%;
}

/* ==================== FORM ==================== */

#match-input {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100%;
	max-width: 1000px;
}


#match-input form {
	display: flex;
	justify-content: space-evenly;

	width: 100%;
}

#match-input form label {
	background-color: var(--dark-bg);
	color: var(--light-tx);
	border: 2px solid var(--light-ol);

	border-radius: 20px 0px 30px 20px;
	padding: 10px 10px 10px 15px;
}

#match-input form label span {
	margin-right: 5px;
}

#match-input form label input {
	color: var(--dark-tx);

	border-radius: 20px 0px;
	padding: 5px;
}

/* ==================== ANIMATIONS ==================== */

/* No animations */

/* ==================== RESPONSIVENESS ==================== */

@media (600px <=width <=800px) {
	#match-display {
		height: 300px;
	}
}

@media (width <=600px) {
	#match-display {
		height: 460px;
	}
}

/* ==================== LAYOUT GUIDES ==================== */

/* Uncommnent the next line to reveal layout guides */
/*
* {
	outline: 1px solid black;
}

.main-container {
	outline: 1px solid magenta;
}