body {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100vw;
}

.match-display {
	display: flex;
	justify-content: center;

	width: 100%;
}

.green {
	background-color: #afa;
}

.red {
	background-color: #faa;
}

.blue {
	background-color: #aaf;
}

.day {
	background-color: lightgrey;

	height: 100px;
	width: 100px;
}